# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Env
.env*.local
.history/.env_20220119141622
.history/.env_20220121114716
.history/.env_20220121114721
.history/apps/api/src/campaign/campaign.service_20220202185033.ts
.history/apps/api/src/campaign/campaign.controller_20220202185033.ts
.history/apps/api/src/campaign/campaign.controller_20220202185621.ts
.history/apps/api/src/campaign/campaign.controller_20220202185643.ts
.history/apps/api/src/campaign/campaign.service_20220202185033.ts
.history/apps/api/src/campaign/campaign.service_20220202185733.ts
.history/apps/api/src/campaign/campaign.service_20220202185744.ts
.history/apps/api/tsconfig.app_20220202003617.json
.history/apps/api/src/campaign/campaign.controller_20220202185033.ts
.history/apps/api/src/campaign/campaign.controller_20220202185621.ts
.history/apps/api/src/campaign/campaign.controller_20220202185643.ts
.history/apps/api/src/campaign/campaign.service_20220202185033.ts
.history/apps/api/src/campaign/campaign.service_20220202185733.ts
.history/apps/api/src/campaign/campaign.service_20220202185744.ts
.history/apps/api/tsconfig.app_20220202003617.json
.history/apps/api/tsconfig.app_20220202183918.json
.history/apps/api/tsconfig_20220202180958.json
.history/apps/api/tsconfig_20220202183921.json
