version: '3.7'
services:
  api:
    image: ghcr.io/podkrepi-bg/api:master
    profiles: ['api-docker']
    build:
      context: .
      dockerfile: ./Dockerfile
      target: ${TARGET_ENV?}
    container_name: ${COMPOSE_PROJECT_NAME?}-api
    restart: always
    environment:
      PORT: ${API_PORT?}
      TARGET_APP: api
      DATABASE_URL: postgres://${DB_USER?}:${DB_PASS?}@${DB_HOST?}:${DB_PORT?}/${DB_NAME?}?schema=api
    volumes:
      # Local:Container mounting points
      - ./:/app
    ports:
      - '${API_PORT?}:${API_PORT?}'
    depends_on:
      - pg-db
    networks:
      backend-net:
        aliases:
          - api.podkrepi.localhost

  ## Postgres Development ##
  migrate-db:
    image: ghcr.io/podkrepi-bg/api/migrations:master
    build:
      context: .
      dockerfile: ./Dockerfile.migrations
    container_name: ${COMPOSE_PROJECT_NAME?}-migrate-db
    restart: 'no'
    environment:
      DATABASE_URL: postgres://${DB_USER?}:${DB_PASS?}@${DB_HOST?}:${DB_PORT?}/${DB_NAME?}?schema=api
    depends_on:
      - pg-db
    networks:
      backend-net:
        aliases:
          - api.podkrepi.localhost

  ## Postgres Development ##
  ##########################
  pg-db:
    build:
      context: ./db
      dockerfile: ./Dockerfile
    container_name: ${COMPOSE_PROJECT_NAME?}-pg-db
    restart: always

    volumes:
      - pg-db-data:/bitnami/postgresql

    ports:
      - '${DB_PORT?}:5432'

    environment:
      ## https://hub.docker.com/_/postgres/
      PGPASSWORD: ${DB_PASS?}
      POSTGRES_USER: ${DB_USER?}
      POSTGRES_PASSWORD: ${DB_PASS?}
      POSTGRES_DB: ${DB_NAME?}

    networks:
      - backend-net

  ########################################
  ## LOCAL IDENTITY PROVIDER - KEYCLOAK ##
  ########################################

  ## Keycloak Server ##
  #####################
  keycloak:
    container_name: ${COMPOSE_PROJECT_NAME?}-keycloak
    image: quay.io/keycloak/keycloak:18.0.1-legacy
    profiles: ['local-keycloak']
    restart: always
    environment:
      - KEYCLOAK_USER=${KEYCLOAK_PASSWORD}
      - KEYCLOAK_PASSWORD=${KEYCLOAK_PASSWORD}
      - JAVA_OPTS_APPEND=-Dkeycloak.profile.feature.token_exchange=enabled -Dkeycloak.profile.feature.admin_fine_grained_authz=enabled
      - KEYCLOAK_IMPORT=/opt/jboss/keycloak/config/keycloak-webapp-realm.json
      - DEBUG=true
      - DEBUG_PORT='*:8787'
      - DB_VENDOR=H2
      - TZ=Europe/Sofia
    ports:
      - '8180:8080'
      - '8787:8787'
    volumes:
      - './manifests/keycloak/theme_podkrepi:/opt/jboss/keycloak/themes/theme_podkrepi'
      - './manifests/keycloak/config:/opt/jboss/keycloak/config'
    networks:
      backend-net:

  # ## KEYCLOAK CONFIGURATOR - removes the need to recreate keycloak container upon config changes
  # ## uncomment if you plan to tune the keycloak realm configuration
  # ## usage: docker-compose up --build -d keycloak-config
  # keycloak-config:
  #   container_name: ${COMPOSE_PROJECT_NAME?}-keycloak-config
  #   image: bitnami/keycloak-config-cli:latest
  #   profiles: ['local-keycloak']
  #   depends_on:
  #     - keycloak
  #   volumes:
  #     - './manifests/keycloak/config:/opt/bitnami/keycloak/config'
  #   environment:
  #     - keycloak.url=http://keycloak:8080/auth
  #     - keycloak.user=admin
  #     - keycloak.password=admin
  #     - keycloak.availability-check.enabled=true
  #     - import.cache.enabled=false
  #     - import.path=/opt/bitnami/keycloak/config
  #   networks:
  #     backend-net:
volumes:
  pg-db-data:
  keycloak-db-data:
    driver: local

networks:
  backend-net:
