name: API tests

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'
    branches: [master]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [master]

jobs:
  run-tests:
    name: Run API tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'yarn'
      - run: yarn
      - name: Generate Prisma DB client
        run: yarn prisma generate
      - name: NX Test API # https://github.com/marketplace/actions/nrwl-nx
        uses: MansaGroup/nrwl-nx-action@v2
        with:
          targets: lint,test,build
          projects: api
